<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @feed, local: true) do |form| %>
  <%= form.hidden_field :image %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>

  <p>画像:<%= image_tag @feed.image_url %></p>
  <p>本文:<%= @feed.content %></p>
  <%= form.submit  "登録する" %>

  <%= form.submit "戻る", name: 'back' %>

<% end %>

