<p id="notice"><%= notice %></p>

<!--<h1>Feeds</h1>-->

<table>
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Image</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

  <tbody>
      <% @feeds.each do |feed| %>
        <table class="overflow-auto">
            <thead>
              <tr><%= image_tag feed.image.url if feed.image.present?%><br></tr>
            </thead>
            <tr><%= feed.user.name %>:<%= feed.content %><br></tr>
            <% if feed.user_id == current_user.id %>
              <tr><%= link_to 'Show', feed %></tr>
              <tr><%= link_to 'Edit', edit_feed_path(feed) %></tr>
              <tr><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></tr>
            <% end %>
        </table>
      <% end %>
  </tbody>
  <%= link_to 'New Feed', new_feed_path %>
</table>
