<h1><%= @user.name %>のページ</h1>
<p>メールアドレス：<%= @user.email %></p>
<p>プロフィール画像：<%= image_tag @user.image.url if @user.image.present? %></p>
<p>プロフィール画像：<%= image_tag @user.image.url if @user.image && @user.image.url %></p>
<p><%= link_to "Userを編集する", edit_user_path(@user.id) if @user.id == current_user.id %></p>